.comment{
    background-color: brown;

}
.comment1 {
    
 color: blue;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: ;
he
}
.comment2 {
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.comment3 {
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    text-align: center;
    color: red;
    background-color: cadetblue;
    
}

.main {
    margin: auto
    
}